html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing:inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: $font-md;
    font-weight: 300;
    color: $lightGrayishBlue;
    font-family: 'Public Sans', sans-serif;
    
    &.noscroll{
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}

button, .button {
    padding: 1rem 1.875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border:0;
    border-radius: 50px;
    color: $white;
    cursor: pointer;
    font-weight: 400;
}
.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
       align-items: center;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium){
        display:none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display:none;
    }
}

//spacing
.container {
    paddingleft:  1.5rem;
}

